<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.aws.Base" version="0.8.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Fabric</name>
    <description>Cordova Plugin for AWS</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <preference name="AWS_REGION" />
    <preference name="AWS_COGNITO_POOL_ID" />

    <platform name="android">
        <dependency id="org.fathens.cordova.plugin.lang.Kotlin" url="https://github.com/fathens/Cordova-Plugin-Kotlin.git" commit="master" />

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="org.fathens.aws.region" android:value="$AWS_REGION"/>
            <meta-data android:name="org.fathens.aws.cognito.identityPool" android:value="$AWS_COGNITO_POOL_ID"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
    </platform>

    <platform name="ios">
        <dependency id="org.fathens.cordova.plugin.lang.Swift" url="https://github.com/fathens/Cordova-Plugin-Swift.git" commit="master" />

        <config-file target="*-Info.plist" parent="CordovaAWS">
            <dict>
                <key>Region</key>
                <string>$AWS_REGION</string>
                <key>CognitoPool</key>
                <string>$AWS_COGNITO_POOL_ID</string>
            </dict>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="AwsBasePlugin">
                <param name="ios-package" value="AwsBase"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/AwsBase.swift"/>

        <podfile swift_version="3.0">
            <pod name="AWSCore" version="~> 2.4.16" />
        </podfile>
    </platform>
</plugin>
